.button {
  box-shadow: -4px 4px 0 #000;
  border-radius: 5px;
  padding: 3px;
  border: 1px solid black;
  margin-bottom: 2px;
  margin-left: 2px;
  margin-right: 0px;
  margin-top: 0px;
  transition-property: box-shadow, margin-bottom, margin-left, margin-top,
    margin-right;
  transition-duration: 0.25s;
}

.button:hover {
  box-shadow: -2px 2px 0 #000;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 2px;
  margin-top: 2px;
}

.buttonSymbol {
  vertical-align: bottom;
}

.button.toggled {
  box-shadow: none;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 4px;
  margin-top: 4px;
}
