.inputBox {
  border: 2px solid var(--theme-black);
  height: 40px;
  border-radius: 25px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  box-shadow: -2px 2px 0px var(--theme-black);
}

.itemInputContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 30px;
  padding-left: calc(30% - 74px);
}

.addItemButton {
  background-color: var(--theme-black);
  height: 44px;
  width: 44px;
  border-radius: 22px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.whiteIcon {
  color: white;
}

.commandBarModeIndicator {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  font-size: 30px;
  cursor: pointer;
}

span.indicator {
  font-size: 36px;
  color: var(--theme-black);
}

.commandBarActions {
  width: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

span.saveQuery {
  font-size: 36px;
  color: var(--theme-black);
}
