.completionContainer {
  display: flex;
  align-items: center;
  border: 2px solid var(--theme-black);
  height: 30px;
  border-radius: 30px;
  position: absolute;
  right: 0;
  box-shadow: -2px 2px 0px var(--theme-black);
}

.durationInput {
  display: inline-block;
  border: none;
  font-size: 14pt;
  background-color: transparent;
  padding-left: 15px;
  padding-right: 15px;
  transition-property: width, padding-left, padding-right;
  transition-duration: 0.5s;
}

.buttonContainer {
  display: inline-block;
}
