.itemCardContainer {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 40px 40px;
  margin-bottom: 10px;
}

.completeBox {
  grid-column: 1;
  grid-row: 1;
  margin-right: 15px;
  display: flex;
  align-items: center;
  position: relative;
  background-color: coral;
}

.itemNameAndActionsContainer {
  grid-column: 2;
  grid-row: 1;
  max-width: 1000px;
  display: flex;
  align-items: baseline;
}

.itemName {
  font-size: 28px;
  font-weight: bold;
}

.itemName.completedName {
  text-decoration: line-through;
  text-decoration-thickness: 3px;
  color: var(--theme-gray);
}

.actions {
  margin-left: 20px;
}

.info {
  grid-column: 2;
  grid-row: 2;
  max-width: 1000px;
  font-style: italic;
  color: var(--theme-gray);
  font-size: 20px;
}

.bulletPoint {
  margin-left: 8px;
  margin-right: 8px;
}

.tag {
  padding-right: 10px;
}

.tagBody {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: var(--theme-black);
}

.actionButton {
  color: var(--theme-black);
}
