@media (width >= 2200px) {
  .itemListGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (1600px <= width < 2200px) {
  .itemListGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (width < 1600px) {
  .itemListGrid {
    display: grid;
    grid-template-columns: 1fr;
  }
}
