.mainViewContainer {
  width: 100%;
  overflow-x: hidden;
}

.queryBar {
  position: fixed;
  top: 0;
  left: 0;
  border-right: 2px dashed var(--theme-black);
  width: 20%;
  height: 100vh;
  min-width: 300px;
}

.queryBar.queryBarPlaceholder {
  position: relative;
  border-right: none;
}

.preventScrolling {
  overflow: hidden;
  height: 100vh;
}

.twoPanelLayout {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.itemListAndQueryContainer {
  padding-top: 50px;
  box-sizing: border-box;
  flex-grow: 1;
}

.itemListContainer {
  padding-left: 150px;
}

.queryInputContainer {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
