.mainGrid {
  display: grid;
  grid-template-columns: 0.25fr 0.75fr;
  grid-template-rows: 1fr;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
}

.queryBar {
  position: fixed;
  top: 0;
  left: 0;
  border-right: 1px solid var(--theme-black);
  width: 15%;
  height: 100vh;
}
