.progressBar {
  width: 30px;
  height: 30px;
  border: 2px solid var(--theme-black);
  border-radius: 50%;
  background: conic-gradient(
    var(--theme-black) attr(data-percentage),
    transparent 0
  );
  cursor: pointer;
}
