.queryCardContainer {
  display: inline-flex;
  flex-direction: column;
  cursor: pointer;
  margin-bottom: 20px;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  position: relative;
}

.queryCardSelectedIndicator {
  position: absolute;
  width: 20px;
  left: -20px;
  font-size: 30px;
}

.selected {
  font-weight: bold;
}

.queryCardSpec {
  margin-top: 5px;
  color: var(--theme-gray);
  font-size: 15pt;
}

.queryName {
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

.actions {
  display: inline-block;
  margin-left: 15px;
}
